@model KullaniciGirisModel

@{
    ViewData["Title"] = "Kullanıcı Girişi";
}

<h1>Giris</h1>

<h4>Kullanıcı</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Giris">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" type="password" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Giriş" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

